@import "tailwindcss";

@plugin "daisyui";



  .btn-gradient:hover {
    @apply from-pink-500 to-purple-600;
  }

  .btn-gradient {
    @apply bg-gradient-to-r from-purple-600 to-pink-500 text-white font-bold py-2 px-4 rounded hover:from-pink-500 hover:to-purple-600 transition duration-300;
  }



